/* Basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 250px;
  border-radius: 3px;
  align-self: center;
  box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile card */
#profile-card {
  display: flex;
  justify-content: center;
}

#profile-card:hover {
  transform: translateY(-15px);
}

/* Project card */
#project-card {
  justify-content: center;
}

#project-card h1 {
  margin-bottom: 10px;
}

#project-card img {
  box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
  margin-bottom: 10px;
}

#project-card p {
  font-size: 20px;
  max-width: 250px;
  align-self: center;
}

#project-card .buttons {
  display: flex;
}

#project-card .button.margin-auto {
  margin-left: auto;
}

/* General classes */
.container {
  padding: 40px 10px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  padding: 10px 25px;
  background-color: white;
}

.card h1 {
  text-align: center;
}

.card p {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.button {
  padding: 8px 20px;
  color: white;
  font-weight: bold;
  background-color: #6abfc3;
  border-radius: 8px;
  box-shadow: 0 0.05em 0.25em 0 rgb(0 0 0 / 50%);
}

.button:hover {
  opacity: 0.7;
}
